doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/phaser.js')
    script(src='/javascripts/game.js')
  body
    block content
